<%include ../partials/header%>

	
	<!--Will use a grid system for formating. Will use css and write our own style on top of Bootstrap to format	 -->
	<div class="row">

		<h1 style="text-align: center;">
			Edit
		</h1>
		
		<!--Inline custom styling =>bad practice... 		 -->
		<div style="width:30%; margin: 25px auto">
		<!--CENTERING: "margin: 0 auto"=> 0 on top and bottom, and auto on left ant right -->
			
		
<!-- Need to find a corect !comment! and pass it's ID to the template -->
			<form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
				<!-- bootstrap class: class="form-control"	 -->
				<div class="form-group"> <!-- for a spacing between elements -->
					
					<input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
					
				</div>
				
				<div class="form-group">
				
				<!--bootstrap class: class="btn btn-lg btn-default";

	"btn-block" => is bult-in bootstrap way to make a !block element!
	-->
					<button class="btn btn-lg btn-primary btn-block">
						Submit
					</button>
					
				</div>	
			</form>
			<a href="/campgrounds">Go Back</a>
		</div>

		

	</div>

<%include ../partials/footer%>
