/*  will select all the images inside "thumbnale" class*/
.thumbnail img{
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full{
	padding:9px;
}

.delete-form {
	display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

#form {
	/* 1vh = 1% or 1/100th of viewport height */
	margin-top: 1vh;
}